CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
rasterizer.cpp
rasterizer.hpp
Triangle.cpp
Triangle.hpp
*.pdf
_deps
.vscode
main.cpp
*.txt